*{
    margin: 0;  padding: 0;
    box-sizing: border-box;
}

/* Simple cAROUSEL */
.container{
    display: flex;
    overflow: auto;
    scroll-snap-type: x mandatory;
}

.img{
    display: flex;
    min-width: 100vw;
    height: 90vh;
    justify-content: center;
    cursor: pointer;
    scroll-snap-align: start;
}