body{
    background: #000;
    display: flex;
    justify-content: center;
}

.text{
    color: #7c45ce;
    font-size: 5em;
    font-family: Ubuntu, sans-serif;
    text-decoration: none;
}
.text:hover{
    text-decoration: underline wavy;
}